.popup {
    background-color: rgba($color-black,0.8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2100;
    height: 100vh;
    width: 100%;

    &__content {
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, $alpha: 0.2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        width: 75%;
        @include centervandh;
    }
   
    &__left {
        display: table-cell;
        width: 33.33%;
    }
    
    &__right {
        display: table-cell;
        padding: 3rem 5rem;
        vertical-align: middle;
        width: 66.67%;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__text {
        font-size: 1.4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}